<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
</head>

<body>

    <nav class="profile-nav" role="navigation">
        <ul>
            <li><a href="/semester"><i class="fas fa-angle-left back-button">Semester</i></a></li> 
            <li class="right logout fas">
                <a href="/"><i class="fas fa-sign-out-alt back-button">Logout</i></a></li>
        </ul>
    </nav>

    <main role="main">
    
        <div class="welcome" role="region">
            <h1><%= semester.semester %></h1>
        </div>
    
        <section role="region">
            <h1>Add Classes</h1>
            <form action="/class/<%= semester._id %>" method="POST">
                <input type="text" name="class" placeholder="Chemistry">
                <input type="submit" value="Add">
            </form>
        </section>

    <div id="get-class">
        <% classes.forEach(function(classe){%>
        <ul class="card">
            <li><%=classe.class%></li>
            <li class="card_padding-li">
                <a href="/assignment/<%=classe._id%>"><button class="card_button">Add Assignment</button></a>
                <button data-id='<%=classe._id%>' class="remove card_button margin-left-sm">Delete Class</button>
            </li>
        </ul>
        <%})%>
    </div>

    </main>
    
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="/profile3.js"></script>
</body>

</html>